@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Fascinate+Inline");

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

.anchor {
    padding-top: 93px;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
}

h1 {
    font-size: 210%;
}

h2 {
    font-size: 190%;
}

h3 {
    font-size: 170%;
}

h4 {
    font-size: 150%;
}

h5 {
    font-size: 130%;
}

h6 {
    font-size: 110%;
}

a {
    color: darkorange;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 96%;
    padding: 2px 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.label {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    border-radius: 0.25em;
    color: #ffffff;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.table-bordered {
    border: 1px solid #dddddd;
}
.table {
    margin-bottom: 22px;
    max-width: 100%;
    width: 100%;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

blockquote {
    border-left: 5px solid #4582ec;
    font-size: 12px;
    margin: 5px 0 22px;
    padding: 5px 11px;
}

.bullet-big {
    width: 16px; 
    height: 16px; 
    float: left; 
    margin-top: 6px; 
    margin-right: 6px; 
    background-color: rgb(225, 225, 225);
}

div.container {
    background-color: #f9f9f9;
    margin-left: 189px;
    margin-top: 77px;
    padding: 19px 29px;
    width: 901px;
}

div.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 93px;
    padding-left: 17px;
    right: 0;
    background-color: #eeeeee;
    color: black;
    /*box-shadow: 0 0 3px #808080;*/
    border-bottom: 11px solid #c1c1c1;
}

div.header .orb {
    font-family: 'Fascinate Inline';
    color: darkorange;
    font-size: 63px;
    padding-left: 33px;
    vertical-align: bottom;
    padding-bottom: 0px;
    width: 201px;
    text-shadow: 0 2px 0px #eeeeee, 0 -2px 0px #eeeeee, 2px 0 0px #eeeeee, -2px 0 0px #eeeeee,
                 2px 2px 0px white;/*, 0 -3px 3px darkorange, 3px 0 3px darkorange, -3px 0 3px darkorange;*/
}

div.header a {
	color: darkorange;
}

div.downloads {
    position: absolute;
    left: 1091px;
    top: 95px;
}

div.downloads pre {
    background-color: #f9f9f9;
}

div.container ul {
	list-style-type: none;
	padding: 0 15px;
	margin: 0;
}

.bullet1 {
	color:#c7254e;
}

.bullet2 {
	color:#c74e25;
}

ul.menu {
    bottom: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 22px;
    padding-top: 39px;
    position: absolute;
    top: 77px;
    width: 189px;
}

ul.menu a {
    color: #3e3a53;
}

li span.list-item-icon {
	font-weight: bold;
	color: red;
}

table.features-table td {
	width: 349px;
	vertical-align: top;
}

div.hr {
	margin: 30px auto 10px auto;
	/*width: 401px;
	height: 2px;*/
	border-top: 3px double #dfdfdf;
}

div.demo-source-button {
	color: #333333;
	margin-right: 9px;
	float: right;
	cursor: pointer;
	padding: 3px;
}

div.demo-source-button:hover {
	background-color: #dfdfdf;
}

pre.demo-source {
	clear: both;
	padding-top: 5px;
	border-top: 1px solid #5bc0de;
    border-radius: 0; 
}

.bold {
    font-weight: bold;
}

.table-features {
    width: 100%;
}

.table-features td {
    vertical-align: top;
    
}

.bl {
    border-left: 5px solid #4582ec;
}

.ulnone {
    padding-left: 15px;
    list-style-type: none;
}

pre {
    background-color: #f9f9f9;
    border-radius: 4px;
    border: none;
    color: #777;
    font-size: 96%;
    padding: 2px 4px;
    padding:0;
    margin: 0;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: none;
}

h1 small, h2 small, h3 small, h4 small {
    color: #f9f9f9;
    cursor: pointer;
}

h1:hover small, h2:hover small, h3:hover small, h4:hover small {
    color: black;
}

h4.left-btm-padded {
    margin-bottom: 19px;
    padding-left: 15px;
}