/*


body {
    background-color: #fefefe;
    font-family: "Open Sans", Georgia,"Times New Roman",serif;
    font-size: 80%;
}

h1 {
	font-family: georgia,serif;
	font-size: 4em;
}

h2 {
	font-family: georgia,serif;
	margin: 0px 0 30px 0;	
	border-bottom: 1px dotted #333;
    color: #333;
}
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

div.container {
    background-color: white;
    /*border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #dfdfdf;
    border-right: 1px solid #dfdfdf;
    */
    margin-left: 189px;
    margin-top: 61px;
    padding: 19px 29px;
    width: 901px;
    /*position: relative;*/
}

div.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 67px;
	padding-left: 17px;
	background-color: white;
	width: 100%;
    background-color: #aecae3;
    color: white;
}

div.header h1 {
	text-shadow: 1px 0 0 #777;
}

div.container ul {
	list-style-type: none;
	padding: 0 15px;
	margin: 0;
}

.bullet1 {
	color:#c7254e;
}

.bullet2 {
	color:#c74e25;
}

ul.menu {
    bottom: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 22px;
    padding-top: 39px;
    position: fixed;
    top: 64px;
    width: 189px;
}

li span.list-item-icon {
	font-weight: bold;
	color: red;
}

table.features-table td {
	width: 349px;
	vertical-align: top;
}

div.hr {
	margin: 30px auto 10px auto;
	/*width: 401px;
	height: 2px;*/
	border-top: 3px double #dfdfdf;
}

div.demo-source-button {
	text-decoration: underline;
	color: #5bc0de;
	margin-right: 9px;
	margin-top: 17px;
	margin-bottom: 7px;
	float: left;
	cursor: pointer;
	padding: 3px;
}

div.demo-source-button:hover {
	background-color: #dfdfdf;
}

pre.demo-source {
	clear: both;
	padding-top: 5px;
	border-top: 1px solid #5bc0de;
	border-radius: 0;
}

.github-forkme {
	position: absolute;
    right: -2px;
    top: -2px;
}
