@maincolor: #3a9d23;
@bordercolor: rgba(58, 157, 35, 0.5);
@headerbg: rgba(58, 157, 35, 0.1);
@buttonhoverbg: rgba(58, 157, 35, 0.7);
@container-color-bg: #fefefe;
@container-color-fg: black;
@container-color-border: white;
@pivot-color-bg: white;
@pivot-color-fg: black;
@header-color-fg: black;
@subtotal-header-color-fg: black;
@grandtotal-header-color-fg: black;
@cell-color-bg: white;
@cell-color-fg: black;
@subtotal-cell-color-bg: white;
@subtotal-cell-color-fg: black;
@grandtotal-cell-color-bg: white;
@grandtotal-cell-color-fg: black;
@fieldgroup-caption-color-fg: #cccccc;
@fieldbutton-color-fg: white;
@togglebutton-color-hover-bg: rgba(58, 157, 35, 0.5);
@drop-target-color-border: white;
@drop-target-over-color-bg: rgba(58, 157, 35, 0.05);
@orb-overlay-color-bg: rgba(96, 96, 96, 0.45);
@orb-dialog-color-bg: white;
@orb-dialog-color-border: #606060;
@orb-dialog-color-header-bg: white;
@orb-dialog-color-header-buttonclose-bg: white;
