.no-border(...) {
	.nb() when (length(@arguments) = 0) {
		border: none;		
	}
	.nb();

	.loop(length(@arguments), @arguments);
    .loop(@i, @args) when (@i > 0) {
        .loop((@i - 1), @args);
        @side: extract(@args, @i);
        border-@{side}-style: none;
    }
}
.cntr, .cntr div {
    text-align: center;
}
.orb-container {
    overflow: auto;
}

.orb-toolbar {
    height: 22px;
    width: 100%;
}

.orb-select {
    div {
        text-align: center;
        cursor: pointer;
        font-style: italic;
        background-position: right;
    }
    ul {
        position: fixed;
        display: none;
        list-style: none;
        padding: 0 3px;
        margin: 0;
        cursor: pointer;
        background-color: white;
    }
    ul li {
        clear: both;
        float: left;
        width: 100%;
        padding: 3px;
    }
}

.orb {
    border-spacing: 0;
    border-collapse: separate;
    .no-border(right, top, left);
    td {
        .no-border(right, left, bottom);
    }
    /* available fields */
    
    .av-flds, .orb-toolbar {
        .no-border();
    }

    .orb-tlbr-btn {
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }

    .orb-tlbr-btn-expandall {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUklEQVQ4jWNgoBL4TwZGNQAGiGVT3wCqeoHokCPCAKINw+Y8klyE0wXEGoIvDHB5DUUd3hBGMwSrRcTEAkp6IMsAfOqI8gIywGMRbtuJsIh0AAADC/oGdFI1DwAAAABJRU5ErkJggg==) no-repeat 0px 0px;
    }

    .orb-tlbr-btn-collapseall {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAQklEQVQ4jWNgGJngxo0b/2GYIgMOHz5MvgGHDx8m3wD6AmwBRlIgYgswkgIRW4AN4kAkNsBwBiKxAYYzEIkNMGQxAOs9ug3E3qdjAAAAAElFTkSuQmCC) no-repeat 0px 0px;
    }

    /* fields-group-caption */
    
    .flds-grp-cap {
        width: 45px;
        white-space: nowrap;
        .no-border();
        div {
            float: left;
            font-weight: bold;
            margin-right: 9px;
            padding: 3px;
        }
    }
    .empty {
        white-space: nowrap;
        .no-border();
    }
    .header {
        text-align: left;
    }
    .cell {
        text-align: right;
        &-hidden {
            display: none;
        }
    }
    /* orb-button */
    
    .orb-btn {
        font-weight: normal;
        text-align: center;
        margin-right: 3px;
        cursor: pointer;
    }
    /* field-button */
    
    .fld-btn {
        float: left;
        font-weight: normal;
        text-align: center;
        padding: 4px 5px;
        cursor: pointer;
        
        /* filter-button */
        
        .fltr-btn {
            width: 11px;
            height: 11px;
        }
        .fltr-btn-active {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAMUlEQVQYlWP4//9/I7GYgSzFDHgAVsX/sQCsirFpQFaI1c0wDegKB0AxeihQFs7EYAAT8WYwzt7jxgAAAABJRU5ErkJggg==) no-repeat 0px 0px;
        }
        &:hover .fltr-btn {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAMUlEQVQYlWP4//9/I7GYgSzFDHgAVsX/sQCsirFpQFaI1c0wDegKB0AxeihQFs7EYAAT8WYwzt7jxgAAAABJRU5ErkJggg==) no-repeat 0px 0px;
        }
    }
    /* filter-container */
    
    &.fltr-cntnr {
        position: fixed;
        background-color: white;
        font-size: 90%;
        width: 301px;
        height: 223px;
        padding: 3px;
        /* filter-value */
        
        .fltr-val {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        /* filter-checkbox */
        
        .fltr-chkbox {
            width: 16px;
        }
    }
    /* filter-subcontainer */
    
    .fltr-scntnr {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 2px;
        /* search-box-column */
        
        .srchbox-col {
            input {
                width: 100%;
                border: none;
            }
        }
        /* search-operator-column */
        
        .srchop-col {
            width: 105px;
            vertical-align: middle;

            .orb-select {
                border: none;
                div {
                    text-align: left;
                }
            }
        }
        /* search-type-column */
        
        .srchtyp-col {
            width: 18px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
        .srchtyp-col-hidden {
            width: 0px;
            color: white;
            overflow: hidden;
            cursor: auto;
            border: none !important;
        }
        /* confirm-buttons-column */
        
        .cnfrm-btn-col {
            padding-top: 5px;
        }
        .fltr-vals-col {
            vertical-align: top;
            padding-bottom: 3px;
        }
        .fltr-vals-tbl {
            table-layout: fixed;
            width: 100%;
            height: 154px;
            display: block;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .resize-col {
            vertical-align: bottom;
            div {
                float: right;
                width: 16px;
                height: 16px;
                margin-bottom: 0;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAQklEQVQ4jWNgGJngxo0b/2GYIgMOHz5MvgGHDx8m3wD6AmwBRlIgYgswkgIRW4AN4kAkNsBwBiKxAYYzEIkNMGQxAOs9ug3E3qdjAAAAAElFTkSuQmCC) no-repeat 0px 0px;
                cursor: se-resize;
            }
        }
    }
    /* toggle-button */
    
    .tgl-btn {
        padding: 5px 3px;
        .no-border();
        div {
            float: left;
            width: 16px;
            height: 16px;
            border-radius: 11px;
            cursor: pointer;
        }
        &-right {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4jWNgGAX4QB0UU2zAMDCEIgMGTjOyAaOAAAAA6dUK1fxYl1IAAAAASUVORK5CYII=) no-repeat 0 0;
        }
        &-down {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAJ0lEQVQ4jWNgGAWDE9RBMbHiOBXWERAj2hCSNeMyhCxAkeZRQCQAAFO3CtUd1w9cAAAAAElFTkSuQmCC) no-repeat 0 0;
        }
    }
    div.tgl-btn {
        float: left;
    }
    /* header-value */
    
    .hdr-val {
        padding: 3px;
        .no-border();
        div {
            white-space: nowrap;
        }
    }
    div.hdr-val {
        float: left;
    }
    /* drop-target */
    
    .drp-trgt {
        float: left;
        width: 100%;
        margin-right: 17px;
        padding-top: 1px;
        min-height: 24px;
    }
    /* drop-indicator */
    
    .drp-indic {
        float: left;
        width: 5px;
        height: 20px;
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 3px;
        &-first {
            margin-left: 0;
        }
        &-last {
            margin-right: 0;
        }
    }
}
.orb-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: auto;
    margin-left: 0;
    background-color: rgba(128, 128, 128, 0.71);
    &-hidden {
        display: none;
    }
    &-visible {
        display: block;
    }
}
.orb-dialog {
    position: absolute;
    z-index: 5;
    &-body {
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-header {
        font-weight: bold;
        font-size: 140%;
        line-height: 31px;
        height: 35px;
        div.button-close {
            float: right;
            width: 16px;
            height: 16px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAL0lEQVQ4jWNgGAXYwH8oJlYcp8L/BMSINoRkzbgMIRlQ1Xay/Y9PjKABxIqPeAAAu7wn2cXtRawAAAAASUVORK5CYII=) no-repeat 0 0;
            border-radius: 11px;
            cursor: pointer;
        }
    }
}
.orb-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    td, th {
        padding: 1px 3px;
    }
}
