.no-border(...) {
	.nb() when (length(@arguments) = 0) {
		border: none;		
	}
	.nb();

	.loop(length(@arguments), @arguments);
    .loop(@i, @args) when (@i > 0) {
        .loop((@i - 1), @args);
        @side: extract(@args, @i);
        border-@{side}-style: none;
    }
}

.centered, .centered div {
	text-align: center;
}

.orb-container {
	overflow: auto;
}

.orb {
	border-spacing: 0;
	border-collapse: separate;
	.no-border(right, top, left);

	/***************/
	/* <td> styles */
	/***************/

	td {
		.no-border(right, left, bottom);
	}

	.available-fields {
		.no-border();
	}

	.fields-group-caption {
		width: 45px;
		white-space: nowrap;
		.no-border();

		div {
			float: left;
			font-weight: bold;
		    margin-right: 9px;
		    padding: 3px;
		}
	}

	.empty {
		white-space: nowrap;
		.no-border();
	} 

	.header {
		text-align: left;
	}

	.cell {
		text-align: right;

		&-hidden {
			display: none;
		}
	}

	.field-button {	
		float: left;
		font-weight: normal;
		text-align: center;
	    padding: 3px;
	    cursor: pointer;
	}

	.toggle-button {
		padding: 5px 3px;
		.no-border();

		div {
		    float: left;
		    width: 16px;
		    height: 16px;
		    border-radius: 11px;	
		    cursor: pointer;
		}

		&-right {
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVQ4jZ3TP0oDQRgF8F8QYrWIvYV1iAjJBew8hJ0nkS0sRfYAlhIipBcF8QY25gIWSSeSNFqoxXzqspmN6KuGme+9798bVtHDOaZYYBnnCv1M/De6ETRDiQEKbGEYd/OI6ebIt5gEqQ0FrnDTFKmCvKKcQQfj4CD1PMtkvsNFi2gRnB5pYGUm6BQfuJbm0ESJM9KEBy3lHuMND9hpvA3xSFrVusEd4gVP2Iu7jahqQdrzOoEDPEs97zcElr+1cITXiNnNtDAlrSM3xBO84x7bmfcyuPqSw3JrvNS+xrmatSvJYZstrdTRwUjNSPxYeZyppJl5JGPlL5F/f6Y6/vSdPwGMDz+FmHBsXAAAAABJRU5ErkJggg==) no-repeat 0 0; 
		}

		&-down {
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABFElEQVQ4jZXTMUpDQRDG8V8QntUj2FtYS0RILmDnIew8iaSwlPAOYCkSIb0oiDew8V3AInYiSaOFWuxENnGN+MHCMjP/ndnZHX6qhwYt5pjFfoTdQvy3qgCfMUQfdax+2KYRU5XgW1wF8JtqTCJ26ZAGY2yuKzFLNgkG6V7TPzKXKpkGayTd778aBquVmrTQHU4KwGn4FuoHa2a5/At84CizHeMT55mtDtYc3cxR4R5vOMAh3nFtufPdYLUYrJS7FfYXvOJhJYlgWtJzlJq4I3X6CdsF/zBYPen3lZ5xH3sFex1Mb2FocIlOIXhVHenHNrmxwk0ckleyESvPPI7Y4jzkwzSQGteN/dphylUa50ecKYzzF7A2P4UKJvXVAAAAAElFTkSuQmCC) no-repeat 0 0; 
		}
	}

	div.toggle-button {
		float: left;
	}

	.header-value {
		padding: 3px;
		.no-border();

		div {
			white-space: nowrap;
		}
	}

	div.header-value {
		float: left;
	}

	.drop-target {
		float: left;
		width: 100%;
		margin-right: 17px;
		padding-top: 1px;
	}

	.drop-indicator {
		float: left;
		width: 5px;
	    height: 20px;
	    margin-top: 2px;
	    margin-left: 3px;
	    margin-right: 3px;

		&-first {
		    margin-left: 0;
		}

		&-last {
			margin-right: 0;
		}
	}
}

.orb-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	width: auto;
	margin-left: 0;
	background-color: rgba(128, 128, 128, 0.71);

	&-hidden {
		display: none;
	}

	&-visible {
		display: block;
	}
}

.orb-dialog {
    position: absolute;
    z-index: 5;

	&-body {
		box-sizing: border-box;
		width: 100%;
	    padding: 7px;
	    overflow-x: hidden;
	    overflow-y: auto;
	}

	&-header {
	    font-weight: bold;
	    line-height: 31px;

		div.button-close {
			float: right;
		    width: 16px;
		    height: 16px;
		    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABGUlEQVQ4jX2TTYrCQBCFPxEiQoL3EFfJwr0H8CgeIgcYpPeu3IiCF9Br6BFUso0HmEW/mimTjg8C3VX1XuqnC/pYAAG4A2+g1XkLzBPxf8hEfAE1UAKFvlK2p2KyFPkKnEQYQgGcFfshEoAjMNF9miCbLZNIMMdcqdmfl8ADWDnySraly+QpLlvVB5ADDbB3Ikbey5crthaXO7FJhrUCNyI+dG7kM5Ti0tJvnBdJka2MFuKsZx2npW0C3Z4gzttKqAbITaccL1JZCYH/Jk4VuHNpWzk7+WyctbgsiK/Pj7Fbs4n4Mb7ExbI4ACPdc/ow24j4YoN3ZsBFIn4iY32GgvhiLwzsg1+mitjpmc5fl8kjtc434IfEOv8CuoxQW8/ULgsAAAAASUVORK5CYII=) no-repeat 0 0;
		    border-radius: 11px;
		    cursor: pointer;
		}
	}
}

.orb-table {
    border-collapse: collapse;
    border-spacing: 0;

	td, th {
	    padding: 1px 3px;
	}

	th {
	    font-weight: normal;
	}
}