<!DOCTYPE html>
<html>
<head>
<title>Orb javascript pivot grid</title>

<link rel="stylesheet" type="text/css" href="static/css/bootstrap_superhero.css" />
<link rel="stylesheet" type="text/css" href="static/css/font-awesome-4.3.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/prism.css" />
<link rel="stylesheet" type="text/css" href="static/css/main.css" />

<% if(page = 'home') { %>

<!-- RELEASE -->
<link rel="stylesheet" type="text/css" href="static/css/orb/orb.min.css" />
<script type="text/javascript" src="static/js/lib/react-0.12.2.min.js"></script>
<script type="text/javascript" src="static/js/orb/orb.min.js"></script>
<!-- ******* -->

<!-- DEBUG --
<link rel="stylesheet" type="text/css" href="css/orb/orb.css" />
<script type="text/javascript" src="static/js/lib/react-0.12.2.js"></script>
<script type="text/javascript" src="static/js/orb/orb.js"></script>
!-- ***** -->

<script type="text/javascript" src="static/js/data.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>

<% } %>

</head>
<body class="language-javascript">

<div class="header alert alert-info">
<div class="container header-content">

<div class="header-orb">
    <a href="index.html">orb.js</a>
</div>

<div class="header-text">
    React<span style="color:yellow">/ive</span> Javascript Pivot Grid Control
</div>

<ul id="headerlinks" class="header-links">
	<li class="links-toggle">
    	<i id="linkstoggle" class="fa fa-bars links-toggle-button"></i>
    </li>
	<li>
    	<a class="btn btn-default btn-xs" href="doc-overview.html"><i class="fa fa-book fa-fw"></i>&#160;Docs</a>
    </li>
    <li>
    	<a class="btn btn-default btn-xs" href="downloads.html"><i class="fa fa-download fa-fw"></i>&#160;Downloads</a>   
    </li>
    <li>
    	<a class="btn btn-default btn-xs" href="https://github.com/nnajm/orb"><i class="fa fa-github fa-fw"></i>&#160;github</a>   
    </li>
</ul>

</div>
</div>

<div class="container">