<h2>
	<div class="bullet-big"></div>
    Action <a name="Demo"></a><a href="#Demo"><small>&#x00a7;</small></a>
</h2>

<div id="demo-source-js-button" class="demo-source-button">Javascript</div>
<div id="demo-source-html-button" class="demo-source-button">HTML</div>
<div id="demo-pgrid-button" class="demo-source-button">Pivot Grid</div>

<div id="demo-pgrid" style="clear: both;font-family: 'Open Sans';"></div>

<pre id="demo-source-html" class="demo-source" style="color: #FDF6E3">
<% require includes/demo_html_source.html %>
</pre>

<pre id="demo-source-js" class="demo-source" style="color: #FDF6E3">
<% require includes/demo_js_source.html %>
</pre>
