<h2>
    Demo <a name="Demo"></a><a href="#Demo"><small>&#x00a7;</small></a>
</h2>

<br/>

<div id="rr" style="font-family: 'Open Sans';"></div>

<div id="demo-source-html-button" class="demo-source-button">HTML</div>
<div id="demo-source-js-button" class="demo-source-button">Javascript</div>

<pre id="demo-source-html" class="demo-source" style="color: #FDF6E3">
	<% require includes/demo_html_source.html %>
</pre>

<pre id="demo-source-js" class="demo-source" style="color: #FDF6E3">
	<% require includes/demo_js_source.html %>
</pre>
