<% require includes/header.html %>
<% require includes/sidemenu.html %>

<div class="container">
	
	<h1>
		<div class="bullet-big"></div>
		Lastest, version <%= version %>
		<a style="font-size: small" href="#rl<%= version %>">(Release notes)</a>
	</h1>

<pre style="background-color: white;">
<table>
<tr>
<td style="width: 201px;"><strong>Developpement</strong>
<ul>
<li>&bull; <a href="js/orb/orb.js">orb.js</a></li><li>&bull; <a href="css/orb/orb.css">orb.css</a></li></ul>
</td>
</tr>
<tr>
<td><strong>Production</strong>
<ul>
<li>&bull; <a href="js/orb/orb.min.js">orb.min.js</a></li><li>&bull; <a href="css/orb/orb.min.css">orb.min.css</a></li>
</ul>
</td>
</tr>
<tr>
<td><strong>Dependencies</strong>
<ul>
<li>&bull; React <a href="http://fb.me/react-0.12.2.js">~0.12.2</a></li>
</ul></td>
</tr>
</table>

<strong style="background-color: #dd4814;color: white; padding: 3px;border-color: #bf3e11;border-radius: 4px;">cdnjs</strong>

<a href="https://cdnjs.com/libraries/orb">https://cdnjs.com/libraries/orb</a>


<img src="images/npm-64-square.png"/>
Package: <a href="https://www.npmjs.com/package/orb">https://www.npmjs.com/package/orb</a></span> 

<span style="color: #268BD2;">npm install orb</span>
<span style="color: #586E75">-------------------------------------------------------------</span>

<span style="color: #268BD2;">var</span><span style="color: #586E75"> orb </span><span style="color: #859900">=</span><span style="color: #586E75"> require</span><span style="color: #93A1A1">(</span><span style="color: #839496">'</span><span style="color: #269186">orb</span><span style="color: #839496">'</span><span style="color: #93A1A1">)</span><span style="color: #586E75">;</span>
<span style="color: #268BD2">var</span><span style="color: #586E75"> pgrid </span><span style="color: #859900">=</span><span style="color: #859900"> new</span><span style="color: #586E75"> orb.pgrid</span><span style="color: #93A1A1">(</span><span style="color: #586E75">...</span><span style="color: #93A1A1">)</span>
</pre>

<br/><br/>

<a class="anchor" name="rl"></a>
	<h1>
		<div class="bullet-big"></div>
		Release notes <a href="#rl"><small>&#x00a7;</small></a>
	</h1>

<a class="anchor" name="rl1.0.8"></a>
<h5><small>Mar. 08 2015</small> -- <code>1.0.8</code> <a href="#rl1.0.8"><small>&#x00a7;</small></a></h5>
<ul>
    <li>&bull; Enhanced scrolling: fixed row headers when scrolling horizontally, fixed column headers when vertically.</li>
    <li>&bull; Added filter clear button</li>
</ul>

<a class="anchor" name="rl1.0.7"></a>
<h5><small>Jan. 23 2015</small> -- <code>1.0.7</code> <a href="#rl1.0.7"><small>&#x00a7;</small></a></h5>
<ul>
    <li>&bull; Visual filters</li>
    <li>&bull; Visual themes (supports bootstrap)</li>
</ul>

<a class="anchor" name="rl1.0.6b"></a>
<h5><small>Jan. 01 2015</small> -- <code>1.0.6 (beta)</code> <a href="#rl1.0.6b"><small>&#x00a7;</small></a></h5>
<ul>
    <li>&bull; Drill down (cell double click)</li>
</ul>

<a class="anchor" name="rl1.0.5b"></a>
<h5><small>Dec. 30 2015</small> -- <code>1.0.5 (beta)</code> <a href="#rl1.0.5b"><small>&#x00a7;</small></a></h5>
<ul>
    <li>&bull; Drag'n'drop to move fields</li>
    <li>&bull; Click to sort</li>
    <li>&bull; Multiple data fields support</li>
    <li>&bull; Data headers location</li>
    <li>&bull; Grand totals & Sub totals</li>
    <li>&bull; Sub totals expand/collapse</li>
    <li>&bull; Sub totals visibility & collapsed state</li>
    <li>&bull; Grand totals visibility</li>
    <li>&bull; Data cells aggregate & format functions</li>
</ul>
</div>

<% require includes/footer.html %>

